@using PLD.Models
@model MatrizRiesgoModels


@foreach (var item in Model.Lista_Solicitudes)
{
<form id="iddetalles" UpdateTargetId="idDetalle" method="post">
    <input type="text" name="Solicitud" id="Solicitud" class="span9" value="@item.IdSolicitud" style="display:none;" />
    @*<button type="submit" value="_Detalle" id="_Detalle" class="btn btn-success" title="Ver detalle">
            <i class="icon-plus-sign"></i> Ver Detalle
        </button>*@
<button type="submit" class="btn btn-danger" value="_Detalle" id="_Detalle" title="Ver detalle" style="">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
    </svg>

</button>
    @Html.HiddenFor(m => m.IdSolicitud)
    @Html.HiddenFor(m => m.Rfc)
    @Html.HiddenFor(m => m.FechaInicio)
    @Html.HiddenFor(m => m.FechaFin)
</form>
}
<script>
    $(function () {

        $("#iddetalles").on("submit", function (e) {
            e.preventDefault();
            console.log("entro detalle");
            var f = $(this);
            var formData = new FormData(document.getElementById("iddetalles"));
            formData.append("dato", "valor");
             var url = "@Url.Action("VerDetalle", "Operaciones")";
            $.ajax({
                url: url,
                type: "post",
                dataType: "multipart/form-data",
                data: formData,
                cache: false,
                contentType: false,
                processData: false

            })
                .done(function (formData) {
                    console.log("entro 11111111");

                })
                .complete(function (formData) {
                    if (formData.success) {
                        console.log("entro 1" + formData.responseText);
                        $("#idDetalle").show();
                        $("#idDetalle").html(formData.responseText);
                    }
                    else {
                        console.log("entro 2");
                    }
                })
                .fail(function () {
                     console.log("entro 3");


                })

        });
    });

</script>