@using PLD.Models
@model MatrizRiesgoModels

@if (Model.ListaMatriz != null)
{
    if (Model.ListaMatriz.Count > 0)
    {
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-info-sign"></i></span>
                        <h5>Resultado de Riesgo</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped" id="IdTablaMatriz">
                            <thead>
                                <tr class="odd gradeX">
                                    <th> Id Solcitud</th>
                                    <th> RFC Cliente</th>
                                    <th> Nivel de Riesgo</th>
                                    <th> Valor de Riesgo</th>
                                    <th> Detalle</th>
                                    <th> Descarga</th>
                                </tr>
                            </thead>

                            @foreach (var item in Model.Lista_Solicitudes)
                            {
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td style="text-align:center;"> @item.IdSolicitud </td>
                                        <td style="text-align:center;">@item.RFC</td>
                                        <td style="text-align:center;">
                                            <div class="control-group">
                                                <div class="controls">
                                                    @if (item.NivelRiesgo.Equals("BAJO"))
                                                    {
                                                        <span class="label label-success">@item.NivelRiesgo</span>
                                                    }
                                                    else if (item.NivelRiesgo.Equals("MEDIO"))
                                                    {
                                                    <span class="label label-warning">@item.NivelRiesgo</span>
                                                    }
                                                    else if (item.NivelRiesgo.Equals("ALTO"))
                                                    {
                                                    <span class="label label-important">@item.NivelRiesgo</span>
                                                    }
                                                    else
                                                    {
                                                    <span class="label">@item.NivelRiesgo</span>
                                                    }

                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align:center;">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <label class="control-label">@item.ValorRiesgo</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align:center;"> @Html.Partial("_Detalle", Model)</td>
                                        <td style="text-align:center;"> @Html.Partial("_GeneraExcel", Model)</td>


                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>


    }
}




