@{
    ViewBag.Title = "Confirmación de Reestablecimiento de Contraseña";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

@*<hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>*@



<section class="sectionEL text-center">
    <a href="@Url.Action("Index","Home")" class="logo">
        <img src="../Content/images/logo.svg" class="logoEmptyLayout" />
    </a>
    <div class="row p-25" style="color:rgba(255, 255, 255, 0.57)">
        <h2 class="col-12">@ViewBag.Title</h2>
    </div>
    <div>
        <h5 style="color:rgba(255, 255, 255, 0.57)">
            Tú contraseña ha sido reestablecida. Se ha enviado un correo al usuario con la nueva contraseña. <br />
            Por favor @Html.ActionLink("da clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "", style = "color:white; font-size:1.25rem" })
        </h5>
    </div>
</section>

<style type="text/css">
    body {
        background-color: #CC2031;
    }

    .logoEmptyLayout {
        width: 500px;
    }

    .sectionEL {
        position: absolute;
        /*background-color: white;*/
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        /*border-radius: 12%;*/
    }
</style>
